body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 50px;
   width: 100%;
   height: 100vh;
   background: linear-gradient(90deg, rgba(22, 2, 92, 0.683), #36824a)fixed;
}
img{
   width: 500px;
   height: 500px;
   margin-top: 50px;
}
.centrado{
   display: flex;
   justify-content: center;
   align-items: center;
}
h1{
   color: yellowgreen;
}